.otp-input {

    height: 50px;
    width: 50px;
    margin: 5px;
    font-size: 40px;
    text-align: center;
    border-radius: 5px;


}


.otp-input:focus {
    border: 2px solid rgba(38, 219, 243, 0.712);
    outline: none;
    border-radius: 5px;
}



.otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
}